<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActivationRandomness</key>
	<string>137CA284-D057-4604-AFB5-F191A0B30EF4</string>
	<key>ActivationRequiresActivationTicket</key>
	<true/>
	<key>ActivationState</key>
	<string>Unactivated</string>
	<key>BasebandActivationTicketVersion</key>
	<string>V2</string>
	<key>BasebandChipID</key>
	<integer>7282913</integer>
	<key>BasebandMasterKeyHash</key>
	<string>AEA5CCE143668D0EFB4CE1F2C94C966A6496C6AA</string>
	<key>BasebandSerialNumber</key>
	<data>
	JVZTJA==
	</data>
	<key>BuildVersion</key>
	<string>13D15</string>
	<key>DeviceCertRequest</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURSBSRVFVRVNULS0tLS0KTUlJQnhEQ0NBUzBDQVFB
	d2dZTXhMVEFyQmdOVkJBTVRKRUUwTnpJM1F6azFMVE5FT0VJdE5EYzFSUzFCTnpZNApM
	VGMwTVRoQk1URTNSVVl3TURFTE1Ba0dBMVVFQmhNQ1ZWTXhDekFKQmdOVkJBZ1RBa05C
	TVJJd0VBWURWUVFICkV3bERkWEJsY25ScGJtOHhFekFSQmdOVkJBb1RDa0Z3Y0d4bElF
	bHVZeTR4RHpBTkJnTlZCQXNUQm1sUWFHOXUKWlRDQm56QU5CZ2txaGtpRzl3MEJBUUVG
	QUFPQmpRQXdnWWtDZ1lFQXRRZzRvUmdPY1BuMjk4NytEVmNqbWtSNgpibi83ckdjQk9F
	RFFxUkttd1hQUHVNa1I1T1k0U2lQUGNzUDc2bkE1eGM3OHMwQzhScHU3Y3lDWlFKQ2x2
	aXBqCjk0a0p4RGJnYXA3TFNKeEE3cXFwckZ6TEs4cmhSbHRZdlhmVVFVK0FtMFQvNkR2
	ZnBYT2NSbzZDdFMxQkFLUUoKNHAwTWFsUVY1eEpWUFhWMUpUVUNBd0VBQWFBQU1BMEdD
	U3FHU0liM0RRRUJCUVVBQTRHQkFHSytscVdIWG9TZwpHS1doalhXMTh6c2ZrYmVlMnpr
	WDNneEQ1YW0yQkFOZ0hiaGY3UFkxL05DZFdhRGtPR002NEN5ZVlJUEF1ZEg3CkRSSnUy
	bmFLNVFuM2p4MHh4b2pUaldaVWxwM3FUUS9MLy9yTFNXb2RqWWFIRkh1dlBwNHppUUVr
	VGhYNFVKY2EKRld5cE83eWtSWFdmUnFLdDE0SC9OT1Nsemwzb1haQkUKLS0tLS1FTkQg
	Q0VSVElGSUNBVEUgUkVRVUVTVC0tLS0tCg==
	</data>
	<key>DeviceClass</key>
	<string>iPhone</string>
	<key>DeviceVariant</key>
	<string>A</string>
	<key>FMiPAccountExists</key>
	<false/>
	<key>IntegratedCircuitCardIdentity</key>
	<string>8934565521509611855</string>
	<key>InternationalMobileEquipmentIdentity</key>
	<string>352047069809106</string>
	<key>InternationalMobileSubscriberIdentity</key>
	<string>214015519592957</string>
	<key>ModelNumber</key>
	<string>NE433</string>
	<key>ProductType</key>
	<string>iPhone6,2</string>
	<key>ProductVersion</key>
	<string>9.2.1</string>
	<key>RegionCode</key>
	<string>B</string>
	<key>RegionInfo</key>
	<string>B/A</string>
	<key>RegulatoryModelNumber</key>
	<string>A1457</string>
	<key>SIMGID1</key>
	<data>
	/w==
	</data>
	<key>SIMGID2</key>
	<data>
	/w==
	</data>
	<key>SIMStatus</key>
	<string>kCTSIMSupportSIMStatusReady</string>
	<key>SerialNumber</key>
	<string>F97QK53UFFG9</string>
	<key>SupportsPostponement</key>
	<true/>
	<key>UniqueChipID</key>
	<integer>2147483647</integer>
	<key>UniqueDeviceID</key>
	<string>4107b2d329cbb728710e7afd389e12ae956bd366</string>
	<key>kCTPostponementInfoPRIVersion</key>
	<string>0.1.141</string>
	<key>kCTPostponementInfoPRLName</key>
	<integer>0</integer>
</dict>
</plist>